
body {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    background: url("/static/buy.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color:#002080;
}
.top-menu{
  display: flex;
}
input{
  background-color: rgba(175, 207, 207, 0.6);
}
a{
  color:#002080;
}
h1{
  font-size: 7vw;
  text-shadow: 1px 1px #000000;
  color: white;
}
table{
      background-color: rgba(175, 207, 207, 0.6);     
}
.banner.menu {
  height: 150%;
}
form{
  color:#002080;
}
.banner.main {
  background-color: rgba(175, 207, 207, 0.6);
  height: 30%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-md-12{
  display: flex;
  flex-direction:column;
}
.file-loading{
  font-size: 15px;
}
.col-md-1, .col-md-2{
  margin-right: 10px;
}
.creator {
  padding-right: 20px;
  text-align: right;
  float:right;
}
.creator img {
  width: 10vw;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.creator figcaption {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  color:#002080;
  text-shadow: none;
}
.flash {
  background-color: rgba(175, 207, 207, 0.6);
  color:#FFFFFF;
  width:100%;
  text-decoration: none;

}

.flash li {
  list-style-type: none;
  text-align: center;

}
.btn{
  font-size: 14px;
  padding: 12px 20px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0.4;
    outline: none;
    cursor: inherit;
    display: block;
}