body {
    font-weight: 100;
    font-family: 'Indie Flower', cursive;
    background-color: #FFFFFF;
    font-size: 23px;
}

h1{
  color: #336699;
  font-size: 90px;
}
.banner.menu {
  height: 150px;
}
.banner.main {
  height: 180px;
  background: url("/static/doit1280.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.file-loading{
  font-size: 15px;
}
.col-md-1, .col-md-2{
  padding-left: 0px;
}
.creator {
  padding-right: 20px;
  margin-top: -20px;
  text-align: right;
  float:right;
}
.creator img {
  width: 100px;
  border-radius: 50%;
  margin-top: 15px;
}
.creator figcaption {
  font-size: 14px;
  color: #7B7573;
  font-weight: 400;
  margin-top: 5px;
}
.flash {
  background-color: #98FB98;
  width:100%;
  text-decoration: none;

}

.flash li {
  list-style-type: none;
  text-align: center;

}