body {
    font-weight: 100;
    font-family: 'Indie Flower', cursive;
    background-color: #FFFFFF;
    font-size: 23px;
}

h1{
  color: #336699;
  font-size: 90px;
}
.banner.menu {
  height: 150px;
}
.banner.main {
  height: 150px;
  background: url("/static/doit1280.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}