{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner main">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>Delete {{saving.name}}?</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <form>
        </br>
        <input type='submit' class='btn btn-success' value = 'Delete' 
        onclick="javascript: form.action='{{url_for('deleteSavings', 
        savings_id=saving.id)}}'; form.method='POST';">
        <input type='submit' class="btn btn-danger" value = 'Cancel' 
        onclick="javascript: form.action='{{url_for('allSavings')}}';">
      </form>
    </div>
</div>
{% endblock %}
