{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner main">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1> Delete {{item.name}}? </h1>
    </div>
  </div>
<div>
  <div class="row">
    <div class="col-md-1">
      </br>
      <form action="{{url_for('deleteSavingsItem', savings_id=item.savings_id, items_id=item.id)}}" method = 'post'>
        <input type='submit' value = 'Delete'>
      </form>
    </div>
    <div class="col-md-2">
    </br>
      <form action="{{ url_for('savingsList', savings_id = item.savings_id) }}" method = 'post'>
        <input type='submit' value = 'Cancel'>
      </form>
    </br>
  </div>
</div>
 {% endblock %}