{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner main">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1> Delete {{item.name}}? </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </br>
      <form>
        <input type='submit' class="btn btn-success" value = 'Delete' 
        onclick="javascript: form.action='{{url_for('deleteSavingsItem', 
        savings_id=item.savings_id, items_id=item.id)}}'; form.method='POST';">
        <input type='submit' class="btn btn-danger" value = 'Cancel' 
        onclick="javascript: form.action='{{url_for('savingsList', 
        savings_id=item.savings_id)}}'; form.method='POST';">
      </form>
  </div>
</div>
 {% endblock %}