{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner main">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>Delete {{saving.name}}?</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <form action="{{ url_for('deleteSavings', savings_id=saving.id) }}" method = 'post'>
      </br>
        <p><input type='submit' class='btn btn-success' value = 'Delete'></p>
      </form>
      <form action="{{ url_for('allSavings') }}">
        <p><input type='submit' class="btn btn-danger" value = 'Cancel'></p>
      </form>
    </div>
</div>
{% endblock %}
