{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row banner main">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>Edit Savings Item</h1>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-12">
      <form role="form" method="POST" enctype = 'multipart/form-data'>
        <div class="form-group">
          </br>
          <label for="name">Name
          <input type = 'text' class="form-control"
            name = 'name' id="name" placeholder = '{{item.name}}'></label>
        </div>
        <div class="form-group">
          <label for="description">Description
          <input type = 'text' class="form-control" name = 'description' 
            placeholder = '{{item.description}}' id="description"></label> 
        </div>
        <div class="form-group">
          <label for="price">Price
          <input type = 'number' class="form-control" name = 'price' 
            placeholder = '{{item.price}}' id="price" min="0"></label>
        </div>
        <div class="form-group">
          <input name = "picture" id="input-25" type="file" 
              multiple=false accept="image/*;capture=camera" class="file-loading">
        </div>
        <div class="form-group">
          <input type = 'submit' class="btn btn-success" value = 'Edit' 
          onclick="javascript: form.action='{{url_for('editSavingsItem', 
          savings_id=savings_id, items_id=items_id)}}'">
          <input type='submit' class=" btn btn-danger" value = 'Cancel' 
          onclick="javascript: form.action='{{url_for('savingsList', 
          savings_id=item.savings_id)}}'">
        </div>
      </form>
  </div>
</div>
  {% endblock %}