{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner main">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>Edit Saving</h1>
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
  <form action = "{{url_for('editSavings', savings_id=saving.id)}}" method = 'POST'>
  		</br>
      <p> Name: </p>
  		<p><input type = 'text' size = '30' name = 'name' placeholder = '{{saving.name}}'></p>
  	 <p><input type = 'submit' value = 'Edit' class="btn btn-success"> </p>
    </form>
    <form action = "{{url_for('allSavings')}}">
      <p><input type = 'submit' value = 'Cancel' class="btn btn-danger"> </p>
    </form>
  </div>
</div>
{% endblock %}
