<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Edit Saving's Item</title>
  <link rel="stylesheet" href = "../css/bootstrap.min.css">
  <script type="text/javascript" src = "../js/jquery-1.11.3.js"></script>
  <script type="text/javascript" src = "../js/bootstrap.min.js"></script>
  <link rel = stylesheet type = text/css href = "{{url_for('static', filename ='style.css')}}">
</head>
<body>
  <div class="container">
    <div class = "row">
      <div class = "col-md-12 text-center">
	       <h1> Edit Savings Item</h1>
      </div>
    </div>
  <form action = "{{url_for('editSavingsItem', savings_id = savings_id, items_id = items_id)}}" method = 'POST' enctype = 'multipart/form-data'>
  		<div class = "row">
        <p> Name: </p>
    			<input type = 'text' size = '30' name = 'name' placeholder = '{{item.name}}'>
        <p>
      </div>
      <div class = "row">
          <p> Description: </p> 
          <input type = 'text' size = '80' name = 'description' placeholder = '{{item.description}}'>
      </div>
      <div class = "row">
          <p> Price: </p>
          <input type = 'text' size = '8' name = 'price' placeholder = '{{item.price}}'>
      </div>  
      <div class="row">
          <input name = "picture" id="input-25" type="file" multiple=false class="file-loading">
      </div>
      <div class="row">
  	     <p><input type = 'submit' value = 'Edit'> 
  		   <a href = '{{url_for('savingsList', savings_id = item.savings_id)}}'>Cancel</a></p>
      </div>
  </form>
</body>
</html> 