{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row banner main">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>New Saving's Item</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       <form action = "{{url_for('newSavingItem', savings_id = savings_id)}}"
             method = 'post'
             enctype = 'multipart/form-data'>
            <p>Item's Name:</p>
        		<p><input type = 'text' size = '30' name = 'name'></p>
        		<p>Description:</p>	
        		<p><input type = 'text' size = '30' name = 'description'></p>
        		<p>Price:</p>
        		<p><input type = 'text' size = '8' name = 'price'></p>
            <p><input name = "picture" id="input-25" type="file" multiple=false class="file-loading"></p>
        	  <p><input type = 'submit' class="btn btn-danger"  value = 'Create Item'></p>
        </form>
            <button type="button" class="btn btn-info" id="validate-button">Validate</button>
            <div class="alert alert-success" style="display:none" id="validation-result">
            </div>

<script type="text/javascript">
$(function() {
  $("#validate-button").click(function() {
    $.ajax(
      '{{url_for('validateNewSavingItem')}}',
      {
        data: {
            name: $("input[name='name']").val(),
            description: $("input[name='description']").val(),
            price: $("input[name='price']").val()
        },
        success: function(response) {
          var resultElement = $("#validation-result");
          if (response['success']) {
            resultElement.addClass("alert-success");
            resultElement.removeClass("alert-warning");
          } else {
            resultElement.addClass("alert-warning");
            resultElement.removeClass("alert-success");
          }
          resultElement.text(response['message']);
          resultElement.show();
        }
      }
    );
  });
});
</script>

{% endblock %}

