{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row banner main">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>Save Money & Have Fun!</h1>
    </div>
  </div>
  </br>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
  {% for message in messages %}
    <li><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <table class="table table-striped">
    <thead>
      <th style="width:75%">Name</th>
      <th style = "width:25%"> Saved Sum</th>

    </thead>
    {% for i, sum in savings_and_sums %}
      <tr>
        <td><a href = "{{url_for('savingsList', savings_id = i.id)}}">{{i.name}}</a></td>
        <td>{{sum}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td>Total Savings:</td>
        <td>{{sum}}</td>
      </tr>
  </table>
{% endblock %}