{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row banner main">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>New Savings Item</h1>
    </div>
  </div>
  <div class="row">
  </br>
       <form enctype = 'multipart/form-data' role="form" class="form-horizontal">
        <div class="form-group">
          <label for="name" class="control-label col-sm-1">Name:</label>
          <div class="col-sm-11">
        	<input type = 'text' class="form-control" id="name" name = 'name'>
        </div>
        </div>
        <div class="form-group">
          <label for="description" 
          class="control-label col-sm-1">Description:</label>
          <div class="col-sm-11">
        	<input type = 'text' class="form-control" id="description" 
                name = 'description'>
          </div>
        </div>
        <div class="form-group">
            <label for="price" class="control-label col-sm-1">Price:</label>
            <div class="col-sm-11">
        		<input type='number' class="form-control" id='price' 
                   min="0" step="0.01" name='price'>
            </div>
        </div>
        <div class="form-group">
           <div class="col-sm-offset-1 col-sm-11">
            <input name = "picture" id="input-25" type="file" 
              multiple=false accept="image/*;capture=camera" class="file-loading">
            </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-11">
        	  <button type='submit' class="btn btn-success"  
            onclick="javascript: form.action='{{url_for('newSavingItem', 
            savings_id = savings_id)}}'; form.method='POST';">Create</button>
            <button type='submit' class="btn btn-danger"  
            onclick="javascript: form.action='{{url_for('savingsList', 
            savings_id = savings_id)}}'; form.method='POST';">Cancel</button>
        </div>
        </form>
  </div>
{% endblock %}
<script>
 var w = document.getElementById("input-25").width();
 var h = $('input-25').height();
 console.log("width:", w);
 console.log("height", h);  
</script>
