{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row banner main">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>Save Money!</h1>
    </div>
  </div>
  <div class="row">
    <div class="flash">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
      {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
    <p><a href = '{{url_for('newSavings')}}'>Create a new Saving</a></p>
  </div>
  <div class="row">
  <table class="table">
    <thead>
      <th style="width:40%">Name</th>
      <th style = "width:25%"> Saved Sum</th>
      <th style = "width:35%">Action</th>
    </thead>
    {% for i, sum in savings_and_sums %}
      <tr>
        <td><a href = "{{url_for('savingsList', savings_id=i.id)}}">{{i.name}}</a></td>
        <td>{{sum}}</td>
        <td colspan="4">
          <form>
          <a class="btn btn-success" href='{{url_for('editSavings', savings_id=i.id)}}'> Edit </a>
          <button type='submit' class='btn btn-danger' 
            onclick="javascript: form.action='{{url_for('deleteSavings', 
            savings_id=i.id)}}'; form.method='POST';">Delete</button>
        </form>
         </td> 
      </tr>
      {% endfor %}
      <tr>
        <td>Total Savings:</td>
        <td>{{sum}}</td>
      </tr>
  </table>
</div>
{% endblock %}